*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-container{
 margin: 0;
    width: 100% !important;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}


.intro{
  margin:0 !important;
  background-image: url("../src/assets/images/test.jpg") !important;
}

.custom-navbar{
  display: flex;
}

.intro-custom:before{
  content: "";
  position: absolute;
  background: linear-gradient(146deg, rgba(28, 25, 89, 0.95) 35%, rgba(28,25,89,0) 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-list_alt{
  width: 100% !important;
  display: flex !important;
  justify-content: space-evenly;
}

.services-item:hover, .services-dropdown{
  display: block;
} 

.main-component{
  position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 89.5px;
    padding-right: 89.5px;
    margin:0;
}

.flex-container{
  display: flex;
  align-items: center;
}

.landing-page-img{
  height: 37rem;
}

.header-list{
  list-style: none; 
  display: flex;
}

.header-list > li{
  display: flex;
    align-items: center;
}

.header-list > li > a{
  color: white;
    font-size: 1.5rem;
}

.nav_link > a{
  color: #001837;
}

.nav_link > a:hover{
  color: #fff !important;
  /* border-bottom: #fff !important; */
}

.services_item:hover{
  background: #5f9ea0 !important;
}

.services_list:hover .services_link > a{
  color: #fff !important;

}
